.app-container {
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.responsive-container {
  width: 90%;
  margin: 10px;
}
.logo {
  height: 50px;
  width: 180px;
}
.new-password-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #5763a5;
  min-height: 450px;
  max-width: 100%;
  margin-top: 20px;
  padding: 30px;
  border-radius: 7px;
}
.add-new-password-container {
  background-color: #454f84;
  min-height: 330px;
  min-width: 400px;
  border-radius: 10px;
  padding: 10px;
}
.form {
  display: flex;
  flex-direction: column;
}
.heading {
  font-family: 'roboto';
  font-size: 22px;
  color: #ffffff;
  margin-left: 10px;
}
.password-manager-image {
  height: 350px;
  width: 350px;
}
.website-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 4px;
}
.image-container {
  padding: 10px;
  border-right: 1px solid #9ba9eb;
}
.icon {
  height: 20px;
  width: 20px;
}
.input {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: none;
}
.button-container {
  display: flex;
  align-self: flex-end;
  margin-right: 7px;
  margin-top: 7px;
}
.add-btn {
  background-color: #0b69ff;
  color: #ffffff;
  border: 0;
  outline: none;
  height: 30px;
  width: 70px;
}
.passwords-container {
  background-color: #5763a5;

  min-height: 450px;
  max-width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 7px;
}

.title-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title-length-container {
  display: flex;
}
.your-password {
  font-family: 'roboto';
  color: #ffffff;
  font-size: 25px;
  margin-left: 20px;
}
.passwords-count {
  border: 1px solid white;
  border-radius: 12px;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  text-align: center;
  width: 30px;
  color: #ffffff;
}
.search-container {
  display: flex;
  align-items: center;
}
.search-input {
  height: 30px;
  outline: none;
}
.title-search-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.search-container {
  display: flex;
}
.search-image-container {
  background-color: #ffffff;
  border-right: 1px solid #9ba9eb;
  padding: 2px;
  width: 40px;
  text-align: center;
}
.search-icon {
  height: 20px;
  width: 20px;
}
.hr-line {
  height: 2px;
  background-color: #9ba9eb;
  border: 0;
  width: 97%;
}
.label-container {
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.checkbox {
  width: 20px;
  height: 20px;
}
.label {
  font-family: 'roboto';
  font-size: 15px;
  color: #ffffff;
  margin-top: 5px;
}
.password-list-container {
  display: flex;
  margin: 10px;
}
.no-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.no-password {
  height: 350px;
  width: 350px;
}
.text {
  font-family: 'roboto';
  font-size: 20px;
  color: #ffffff;
}
